*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(smiley.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projects-container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projects-container h2 {
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px yellow;
    font-size: 88px;
    text-transform: capitalize;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #32012F;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: black;
    text-shadow: 4px 4px 6px  yellow;
}

.project-card p {
    font-size: 20;
    color: black;
    margin-bottom: 15px;
    font-weight: 700;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

.project-link:hover {
    background-color: red;
    color: white;
}

nav{
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    font-size: medium;
    font-style: oblique;
    font-weight: 700;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: yellow;
}
nav a:hover{
    background-color: black;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:rgba(255, 255, 255, 0.008);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;   
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 8000px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}